.home {
    text-align: center;
}

.slogan {
    color: var(--font-color-medium);
}

.cine {
    color: var(--font-color-dark);
}

.show {
    color: var(--theme-font-color);
}

.welcome {
    margin-bottom: 3em;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4.5em;
}