.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--background-color-dark);
}

.navBar ul {
    display: flex;
    gap: 1em;
    list-style: none;
    font-weight: bold;
}

.navBar ul a {
    padding: 0.5em;
    color: var(--theme-font-color);
    transition: all 0.3s ease-in-out;
}

.navBar ul li {
    display: flex;
}

.navBar ul a:hover {
    color: white;
}

.navBar .icon_link {
    display: block;
    height: max-content;
    width: max-content;
}

.navBar .icon_link img {
    display: block;
    filter: drop-shadow(1px 1px 2px white);
    height: 4em;
}
